# API Keys
BMKG_API_KEY=
MAPBOX_TOKEN=
KAGGLE_USERNAME=
KAGGLE_KEY=

# Open-Meteo (free, no key needed)
OPEN_METEO_BASE=https://api.open-meteo.com

# Overpass API (free, no key needed)
OVERPASS_BASE=https://overpass-api.de
